header{
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

.tHead{
  font-size: 30px;
}

.tBody{
  font-size: 20px;
  padding: 10px;
}
